# Binance API Keys (testnet recommended for initial testing)
BINANCE_API_KEY=your_api_key_here
BINANCE_API_SECRET=your_api_secret_here

# Encryption key for storing API keys on disk
ENCRYPTION_PASSWORD=YT#K9$wa3%#ajwKNPtti8B@bwA07Xw6^
ENCRYPTION_SALT=28c14eb5cc608fce7c9fe9318f3a76fa729de96e555bc8b0917bf9a5dcca4589

# Telegram Bot (optional)
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
TELEGRAM_ALLOWED_USERS=username1,username2
